<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}

        <br><br>
        <div class="alert alert-danger" role="alert">
            ¿Esta seguro de eliminar el producto "{{ producto.name}}"?
        </div>

        <p>
            <a href="{% url 'show-prods' %}"><-- Retornar</a>
        </p>

        <p>
            <input class="btn btn-danger" type="submit" value="Confirmar">
        </p>
    </form>
</body>

</html>